<div>
  <div>
    <h1>QUOTEBOOK</h1>

    <quote quote=$ctrl.quote ></quote>
    <button type="submit" ng-click="$ctrl.getNewQuote()">New Quote</button>
    <button type="submit" ng-click="$ctrl.saveFavorite()" ng-show="!$ctrl.showSignin && !$ctrl.showLogin">Save</button>
    <button type="submit" ng-click="$ctrl.logout()" ng-show="!$ctrl.showSignin && !$ctrl.showLogin" >Logout</button>


    <div ng-show="$ctrl.showLogin" >
      <h3>Login</h3>
      <form >
        Username:
        <input type="text" ng-model="$ctrl.username"/> 
        Password:
        <input type="password" ng-model="$ctrl.password"/>
        <button type="submit" ng-click="$ctrl.login()">Login</button>
      </form>
    </div>
    <div ng-show="$ctrl.showSignin">
      <h3>Sign Up</h3>
      <form >
        Username:
        <input type="text" ng-model="$ctrl.username"/> 
        Password:
        <input type="password" ng-model="$ctrl.password"/>
        <button type="submit" ng-click="$ctrl.signup()">Sign Up</button>
      </form>
    </div>
    <button type="submit" ng-click="$ctrl.switchLoginSignup()" ng-show="$ctrl.showSignin || $ctrl.showLogin">{{$ctrl.formMode}}</button>
    <div ng-show="!$ctrl.showSignin && !$ctrl.showLogin">
      <h3>Author a Quote</h3>
      <form>
        Quote:
        <input type="textarea" ng-model="$ctrl.userQuote" /> 
        <button type="submit" ng-click="$ctrl.writeQuote()">Post</button>
      </form>
    </div>

    <div ng-show="!$ctrl.showSignin && !$ctrl.showLogin">
      <h3>Favorite Quotes</h3>
      <ul>
        <div ng-repeat="fav in $ctrl.favorites track by $index">
          <quote quote=fav ></quote>
          <button ng-click="$ctrl.deleteFav(fav.id_user, fav._id)">Delete</button>
        </div>
      </ul>
    </div>

    <div ng-show="!$ctrl.showSignin && !$ctrl.showLogin">
      <h3>User Quotes</h3>
      <ul>
        <div ng-repeat="post in $ctrl.posts track by $index">
          <quote quote=post></quote>
          <button ng-click="$ctrl.editPost(post._id)">Edit</button>
        </div>
      </ul>
    </div>


  </div>
</div>